<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRINCIPAL</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<h2>Página Principal</h2>


    <script src="sockets.js"></script>
</body>
</html>