<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST SOCKET</title>

    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<label for="nombre">NOMBRE</label>
<input type="text" id="nombre" name="nombre">
<br/>
<button type="button" id="boton">MANDAR</button>

<script language="JavaScript">
    let socket = io();

    const boton = document.getElementById('boton');

    boton.addEventListener('click', () => {
        console.log("ENVIANDO INFO POR SOCKET.IO:", document.getElementById('nombre').value);
        socket.emit('test', document.getElementById('nombre').value);
    });

    socket.on('testrespuesta', data => {
        console.log("DATOS DEL SERVIDOR:", data);
    });

    socket.on('tcpServer', data => {
        console.log("SERVIDOR TCP:", data);
    })
</script>

</body>
</html>